tfund/PartialArmTemplates/ArmTemplate_3_20_2020_15_58_28.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "tfund"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/NorthwindDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FromOnPremToCloud",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.Alphabetical list of products"
							},
							{
								"name": "Destination",
								"value": "csvfile//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "CategoryID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "QuantityPerUnit",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "UnitsInStock",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "UnitsOnOrder",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "ReorderLevel",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Discontinued",
											"type": "Boolean"
										},
										"sink": {
											"type": "Boolean",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "CategoryName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "csvFile",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "OrderTable",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "FromOnPremToCloud",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CustomerID",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "EmployeeID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "RequiredDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "ShippedDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "ShipVia",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "Freight",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "ShipName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "ShipAddress",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "ShipCity",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "ShipRegion",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "ShipPostalCode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "ShipCountry",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OrderTable",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "csvFile",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "DataMovement"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OrderTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discount",
						"type": "real",
						"precision": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": []
		}
	]
}