tfund/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "tfund"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"Northwind_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Northwind'"
		},
		"Northwind_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Northwind'"
		},
		"NorthwindDest_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'NorthwindDest'"
		},
		"container_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'container'"
		},
		"LDE22H64Q2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LDE22H64Q2'"
		},
		"Northwind_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "EUROPE\\oasobogungod"
		},
		"OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "tfund.database.windows.net"
		},
		"OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "igiiwe"
		},
		"OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MovePackage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute SSIS in clude",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "LiftAndShift/AzureLoan/Data_copy.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "OnPremSSIS",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "Execute Transformationpipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute SSIS in clude",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TransformPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"folder": {
					"name": "pipelineData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OnPremSSIS')]",
				"[concat(variables('factoryId'), '/pipelines/TransformPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NorthwindDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.Alphabetical list of products"
							},
							{
								"name": "Destination",
								"value": "csvfile//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "CategoryID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "QuantityPerUnit",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "UnitsInStock",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "UnitsOnOrder",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "ReorderLevel",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Discontinued",
											"type": "Boolean"
										},
										"sink": {
											"type": "Boolean",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "CategoryName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "OrderTable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CustomerID",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "EmployeeID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "RequiredDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "ShippedDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "ShipVia",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "Freight",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "ShipName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "ShipAddress",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "ShipCity",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "ShipRegion",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "ShipPostalCode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "ShipCountry",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OrderTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Order Detail",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Decimal"
										},
										"sink": {
											"type": "Decimal",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int16"
										},
										"sink": {
											"type": "Int16",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "Discount",
											"type": "Single"
										},
										"sink": {
											"type": "Single",
											"ordinal": 5
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OrderDetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Region",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RegionID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "RegionDescription",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Region",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Shippers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Northwind",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EmployeeID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "TitleOfCourtesy",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "HireDate",
											"type": "DateTime"
										},
										"sink": {
											"type": "DateTime",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"name": "HomePhone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"name": "Extension",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"name": "Photo",
											"type": "Byte[]"
										},
										"sink": {
											"type": "Byte[]",
											"ordinal": 15
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 16
										}
									},
									{
										"source": {
											"name": "ReportsTo",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 17
										}
									},
									{
										"source": {
											"name": "PhotoPath",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 18
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Employee",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "NtwestDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Suppliers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SupplierID",
											"type": "Int32"
										},
										"sink": {
											"type": "Int32",
											"ordinal": 1
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"name": "ContactName",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"name": "ContactTitle",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"name": "PostalCode",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 10
										}
									},
									{
										"source": {
											"name": "Fax",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"name": "HomePage",
											"type": "String"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csvFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "DataMovement"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Northwind')]",
				"[concat(variables('factoryId'), '/datasets/NtwestDB')]",
				"[concat(variables('factoryId'), '/datasets/OrderTable')]",
				"[concat(variables('factoryId'), '/datasets/OrderDetails')]",
				"[concat(variables('factoryId'), '/datasets/Region')]",
				"[concat(variables('factoryId'), '/datasets/Employee')]",
				"[concat(variables('factoryId'), '/datasets/Suppliers')]",
				"[concat(variables('factoryId'), '/datasets/csvFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataTransfer",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SalesMarket",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Sales": {},
									"AzureDatabase": {},
									"PowerBI": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"folder": {
					"name": "pipelineData"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SalesMarket')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "EmployeeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "TitleOfCourtesy",
						"type": "nvarchar"
					},
					{
						"name": "BirthDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "HireDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "HomePhone",
						"type": "nvarchar"
					},
					{
						"name": "Extension",
						"type": "nvarchar"
					},
					{
						"name": "Photo",
						"type": "image"
					},
					{
						"name": "Notes",
						"type": "ntext"
					},
					{
						"name": "ReportsTo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PhotoPath",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Employees"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductName",
						"type": "nvarchar"
					},
					{
						"name": "SupplierID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CategoryID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "QuantityPerUnit",
						"type": "nvarchar"
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "UnitsInStock",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "UnitsOnOrder",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ReorderLevel",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discontinued",
						"type": "bit"
					},
					{
						"name": "CategoryName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Alphabetical list of products"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NtwestDB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "container",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "nwdatabase"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderDetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discount",
						"type": "real",
						"precision": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order Details"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OrderTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "OrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UnitPrice",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Quantity",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Discount",
						"type": "real",
						"precision": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Region')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "RegionID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegionDescription",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Region"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Shippers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ShipperID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Shippers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Northwind",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SupplierID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ContactName",
						"type": "nvarchar"
					},
					{
						"name": "ContactTitle",
						"type": "nvarchar"
					},
					{
						"name": "Address",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "PostalCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "Fax",
						"type": "nvarchar"
					},
					{
						"name": "HomePage",
						"type": "ntext"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Suppliers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Northwind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "container",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "csvfile"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tfund_database')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Column_1",
						"type": "nvarchar"
					},
					{
						"name": "borough",
						"type": "int",
						"precision": 10
					},
					{
						"name": "neighborhood",
						"type": "nvarchar"
					},
					{
						"name": "building_class_category",
						"type": "nvarchar"
					},
					{
						"name": "tax_class",
						"type": "nvarchar"
					},
					{
						"name": "block",
						"type": "int",
						"precision": 10
					},
					{
						"name": "lot",
						"type": "nvarchar"
					},
					{
						"name": "easement",
						"type": "nvarchar"
					},
					{
						"name": "building_class",
						"type": "nvarchar"
					},
					{
						"name": "address",
						"type": "nvarchar"
					},
					{
						"name": "apartment_number",
						"type": "nvarchar"
					},
					{
						"name": "zip_code",
						"type": "nvarchar"
					},
					{
						"name": "residential_units",
						"type": "nvarchar"
					},
					{
						"name": "commercial_units",
						"type": "nvarchar"
					},
					{
						"name": "total_units",
						"type": "nvarchar"
					},
					{
						"name": "land_sqft",
						"type": "nvarchar"
					},
					{
						"name": "gross_sqft",
						"type": "nvarchar"
					},
					{
						"name": "year_built",
						"type": "nvarchar"
					},
					{
						"name": "tax_class_at_sale",
						"type": "nvarchar"
					},
					{
						"name": "building_class_at_sale",
						"type": "nvarchar"
					},
					{
						"name": "sale_price",
						"type": "float",
						"precision": 15
					},
					{
						"name": "year_of_sale",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Borough1",
						"type": "nvarchar"
					},
					{
						"name": "CD",
						"type": "nvarchar"
					},
					{
						"name": "CT2010",
						"type": "nvarchar"
					},
					{
						"name": "CB2010",
						"type": "nvarchar"
					},
					{
						"name": "SchoolDist",
						"type": "nvarchar"
					},
					{
						"name": "Council",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "FireComp",
						"type": "nvarchar"
					},
					{
						"name": "PolicePrct",
						"type": "nvarchar"
					},
					{
						"name": "HealthCent",
						"type": "nvarchar"
					},
					{
						"name": "HealthArea",
						"type": "nvarchar"
					},
					{
						"name": "SanitBoro",
						"type": "nvarchar"
					},
					{
						"name": "SanitDistr",
						"type": "nvarchar"
					},
					{
						"name": "SanitSub",
						"type": "nvarchar"
					},
					{
						"name": "Address1",
						"type": "nvarchar"
					},
					{
						"name": "ZoneDist1",
						"type": "nvarchar"
					},
					{
						"name": "ZoneDist2",
						"type": "nvarchar"
					},
					{
						"name": "ZoneDist3",
						"type": "nvarchar"
					},
					{
						"name": "ZoneDist4",
						"type": "nvarchar"
					},
					{
						"name": "Overlay1",
						"type": "nvarchar"
					},
					{
						"name": "Overlay2",
						"type": "nvarchar"
					},
					{
						"name": "SPDist1",
						"type": "nvarchar"
					},
					{
						"name": "SPDist2",
						"type": "nvarchar"
					},
					{
						"name": "SPDist3",
						"type": "nvarchar"
					},
					{
						"name": "LtdHeight",
						"type": "nvarchar"
					},
					{
						"name": "SplitZone",
						"type": "nvarchar"
					},
					{
						"name": "BldgClass",
						"type": "nvarchar"
					},
					{
						"name": "LandUse",
						"type": "nvarchar"
					},
					{
						"name": "Easements",
						"type": "nvarchar"
					},
					{
						"name": "OwnerType",
						"type": "nvarchar"
					},
					{
						"name": "OwnerName",
						"type": "nvarchar"
					},
					{
						"name": "LotArea",
						"type": "nvarchar"
					},
					{
						"name": "BldgArea",
						"type": "nvarchar"
					},
					{
						"name": "ComArea",
						"type": "nvarchar"
					},
					{
						"name": "ResArea",
						"type": "nvarchar"
					},
					{
						"name": "OfficeArea",
						"type": "nvarchar"
					},
					{
						"name": "RetailArea",
						"type": "nvarchar"
					},
					{
						"name": "GarageArea",
						"type": "nvarchar"
					},
					{
						"name": "StrgeArea",
						"type": "nvarchar"
					},
					{
						"name": "FactryArea",
						"type": "nvarchar"
					},
					{
						"name": "OtherArea",
						"type": "nvarchar"
					},
					{
						"name": "AreaSource",
						"type": "nvarchar"
					},
					{
						"name": "NumBldgs",
						"type": "nvarchar"
					},
					{
						"name": "NumFloors",
						"type": "nvarchar"
					},
					{
						"name": "UnitsRes",
						"type": "nvarchar"
					},
					{
						"name": "UnitsTotal",
						"type": "nvarchar"
					},
					{
						"name": "LotFront",
						"type": "nvarchar"
					},
					{
						"name": "LotDepth",
						"type": "nvarchar"
					},
					{
						"name": "BldgFront",
						"type": "nvarchar"
					},
					{
						"name": "BldgDepth",
						"type": "nvarchar"
					},
					{
						"name": "Ext",
						"type": "nvarchar"
					},
					{
						"name": "ProxCode",
						"type": "nvarchar"
					},
					{
						"name": "IrrLotCode",
						"type": "nvarchar"
					},
					{
						"name": "LotType",
						"type": "nvarchar"
					},
					{
						"name": "BsmtCode",
						"type": "nvarchar"
					},
					{
						"name": "AssessLand",
						"type": "nvarchar"
					},
					{
						"name": "AssessTot",
						"type": "nvarchar"
					},
					{
						"name": "ExemptLand",
						"type": "nvarchar"
					},
					{
						"name": "ExemptTot",
						"type": "nvarchar"
					},
					{
						"name": "YearBuilt",
						"type": "nvarchar"
					},
					{
						"name": "YearAlter1",
						"type": "nvarchar"
					},
					{
						"name": "YearAlter2",
						"type": "nvarchar"
					},
					{
						"name": "HistDist",
						"type": "nvarchar"
					},
					{
						"name": "Landmark",
						"type": "nvarchar"
					},
					{
						"name": "BuiltFAR",
						"type": "nvarchar"
					},
					{
						"name": "ResidFAR",
						"type": "nvarchar"
					},
					{
						"name": "CommFAR",
						"type": "nvarchar"
					},
					{
						"name": "FacilFAR",
						"type": "nvarchar"
					},
					{
						"name": "BoroCode",
						"type": "nvarchar"
					},
					{
						"name": "BBL",
						"type": "nvarchar"
					},
					{
						"name": "CondoNo",
						"type": "nvarchar"
					},
					{
						"name": "Tract2010",
						"type": "nvarchar"
					},
					{
						"name": "XCoord",
						"type": "nvarchar"
					},
					{
						"name": "YCoord",
						"type": "nvarchar"
					},
					{
						"name": "ZoneMap",
						"type": "nvarchar"
					},
					{
						"name": "ZMCode",
						"type": "nvarchar"
					},
					{
						"name": "Sanborn",
						"type": "nvarchar"
					},
					{
						"name": "TaxMap",
						"type": "nvarchar"
					},
					{
						"name": "EDesigNum",
						"type": "nvarchar"
					},
					{
						"name": "APPBBL",
						"type": "nvarchar"
					},
					{
						"name": "APPDate",
						"type": "nvarchar"
					},
					{
						"name": "PLUTOMapID",
						"type": "nvarchar"
					},
					{
						"name": "FIRM07_FLA",
						"type": "nvarchar"
					},
					{
						"name": "PFIRM15_FL",
						"type": "nvarchar"
					},
					{
						"name": "Version",
						"type": "nvarchar"
					},
					{
						"name": "MAPPLUTO_F",
						"type": "nvarchar"
					},
					{
						"name": "SHAPE_Leng",
						"type": "nvarchar"
					},
					{
						"name": "SHAPE_Area",
						"type": "nvarchar"
					},
					{
						"name": "Sales_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Housing_sale"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Northwind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Northwind_connectionString')]",
					"userName": "[parameters('Northwind_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Northwind_password')]"
					}
				},
				"connectVia": {
					"referenceName": "streamAnalytics",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/streamAnalytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NorthwindDest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('NorthwindDest_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/container')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('container_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSSIS')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "This takes the package from Online and execute it",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D8_v3",
						"numberOfNodes": 2,
						"maxParallelExecutionsPerNode": 2
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('OnPremSSIS_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/streamAnalytics')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesMarket')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sale data Import",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "csvFile",
								"type": "DatasetReference"
							},
							"name": "Sales"
						},
						{
							"dataset": {
								"referenceName": "tfund_database",
								"type": "DatasetReference"
							},
							"name": "AzureDatabase"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "LDE22H64Q2",
								"type": "DatasetReference"
							},
							"name": "PowerBI"
						}
					],
					"transformations": [
						{
							"name": "Mergedataset"
						}
					],
					"script": "source(output(\n\t\tORDERNUMBER as string,\n\t\tQUANTITYORDERED as string,\n\t\tPRICEEACH as string,\n\t\tORDERLINENUMBER as string,\n\t\tSALES as string,\n\t\tORDERDATE as string,\n\t\tSTATUS as string,\n\t\tQTR_ID as string,\n\t\tMONTH_ID as string,\n\t\tYEAR_ID as string,\n\t\tPRODUCTLINE as string,\n\t\tMSRP as string,\n\t\tPRODUCTCODE as string,\n\t\tCUSTOMERNAME as string,\n\t\tPHONE as string,\n\t\tADDRESSLINE1 as string,\n\t\tADDRESSLINE2 as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tPOSTALCODE as string,\n\t\tCOUNTRY as string,\n\t\tTERRITORY as string,\n\t\tCONTACTLASTNAME as string,\n\t\tCONTACTFIRSTNAME as string,\n\t\tDEALSIZE as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Sales\nsource(output(\n\t\tColumn_1 as string,\n\t\tborough as integer,\n\t\tneighborhood as string,\n\t\tbuilding_class_category as string,\n\t\ttax_class as string,\n\t\tblock as integer,\n\t\tlot as string,\n\t\teasement as string,\n\t\tbuilding_class as string,\n\t\taddress as string,\n\t\tapartment_number as string,\n\t\tzip_code as string,\n\t\tresidential_units as string,\n\t\tcommercial_units as string,\n\t\ttotal_units as string,\n\t\tland_sqft as string,\n\t\tgross_sqft as string,\n\t\tyear_built as string,\n\t\ttax_class_at_sale as string,\n\t\tbuilding_class_at_sale as string,\n\t\tsale_price as double,\n\t\tyear_of_sale as integer,\n\t\tBorough1 as string,\n\t\tCD as string,\n\t\tCT2010 as string,\n\t\tCB2010 as string,\n\t\tSchoolDist as string,\n\t\tCouncil as string,\n\t\tZipCode as string,\n\t\tFireComp as string,\n\t\tPolicePrct as string,\n\t\tHealthCent as string,\n\t\tHealthArea as string,\n\t\tSanitBoro as string,\n\t\tSanitDistr as string,\n\t\tSanitSub as string,\n\t\tAddress1 as string,\n\t\tZoneDist1 as string,\n\t\tZoneDist2 as string,\n\t\tZoneDist3 as string,\n\t\tZoneDist4 as string,\n\t\tOverlay1 as string,\n\t\tOverlay2 as string,\n\t\tSPDist1 as string,\n\t\tSPDist2 as string,\n\t\tSPDist3 as string,\n\t\tLtdHeight as string,\n\t\tSplitZone as string,\n\t\tBldgClass as string,\n\t\tLandUse as string,\n\t\tEasements as string,\n\t\tOwnerType as string,\n\t\tOwnerName as string,\n\t\tLotArea as string,\n\t\tBldgArea as string,\n\t\tComArea as string,\n\t\tResArea as string,\n\t\tOfficeArea as string,\n\t\tRetailArea as string,\n\t\tGarageArea as string,\n\t\tStrgeArea as string,\n\t\tFactryArea as string,\n\t\tOtherArea as string,\n\t\tAreaSource as string,\n\t\tNumBldgs as string,\n\t\tNumFloors as string,\n\t\tUnitsRes as string,\n\t\tUnitsTotal as string,\n\t\tLotFront as string,\n\t\tLotDepth as string,\n\t\tBldgFront as string,\n\t\tBldgDepth as string,\n\t\tExt as string,\n\t\tProxCode as string,\n\t\tIrrLotCode as string,\n\t\tLotType as string,\n\t\tBsmtCode as string,\n\t\tAssessLand as string,\n\t\tAssessTot as string,\n\t\tExemptLand as string,\n\t\tExemptTot as string,\n\t\tYearBuilt as string,\n\t\tYearAlter1 as string,\n\t\tYearAlter2 as string,\n\t\tHistDist as string,\n\t\tLandmark as string,\n\t\tBuiltFAR as string,\n\t\tResidFAR as string,\n\t\tCommFAR as string,\n\t\tFacilFAR as string,\n\t\tBoroCode as string,\n\t\tBBL as string,\n\t\tCondoNo as string,\n\t\tTract2010 as string,\n\t\tXCoord as string,\n\t\tYCoord as string,\n\t\tZoneMap as string,\n\t\tZMCode as string,\n\t\tSanborn as string,\n\t\tTaxMap as string,\n\t\tEDesigNum as string,\n\t\tAPPBBL as string,\n\t\tAPPDate as string,\n\t\tPLUTOMapID as string,\n\t\tFIRM07_FLA as string,\n\t\tPFIRM15_FL as string,\n\t\tVersion as string,\n\t\tMAPPLUTO_F as string,\n\t\tSHAPE_Leng as string,\n\t\tSHAPE_Area as string,\n\t\tSales_date as date\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> AzureDatabase\nSales, AzureDatabase union(byName: true,\n\tpartitionBy('dynamicRange', 2,\n\t\tORDERNUMBER\n\t))~> Mergedataset\nMergedataset sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> PowerBI"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvFile')]",
				"[concat(variables('factoryId'), '/datasets/tfund_database')]",
				"[concat(variables('factoryId'), '/datasets/LDE22H64Q2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LDE22H64Q2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LDE22H64Q2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LDE22H64Q2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LDE22H64Q2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "PowerBIStream"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LDE22H64Q2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerPB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "NorthwindDB",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-03-21T18:59:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/NorthwindDB')]"
			]
		}
	]
}